#!ini
[DEFAULT]
data-provider = basic-leaf256
include = $HERE/../defaults.cfg

[train]
layer-def = $HERE/layers.cfg
layer-params = $HERE/params.cfg
data-path = /data2/ImageNet/batches/one_big_net/
train-range = 1-7245
test-range = 7245-9500
save-path = $HERE/saves
give-up-epochs = 500
test-freq = 50 
f = $HERE/saves/ConvNet__2014-03-04_14.23.07/30.4145

[test]
layer-def = $HERE/layers.cfg
layer-params = $HERE/params.cfg
data-path = /data2/ImageNet/batches/one_big_net/
test-range = 7245-9500
f = $HERE/saves/ConvNet__2014-03-04_14.23.07/30.4145
test-only=1

[show]
test-range = 9500-9661

[run]
f = $HERE/SavedWeights

[dataset]
output-path = /data2/ImageNet/batches/one_big_net/
batch-size = 128
size = (256, 256)
min_size = (128, 128)
transform_type = fitted
channels = 3
# MongoDB Query Information
xml_query = 0
class_image_thres = 2000
# Note this defaults to None, and 0.0
# limit_by_component = Leaf
# component_prob_thres = 0.0
